/* #region header */
.header {
}

/* #endregion */

/* #region section 1 */
.hero-section .container {
  margin-top: 100px;
  margin-bottom: 117px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--color-dark-blue1);
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}

/* #endregion */

/* #region section 2 */
.reasons-section {
  background-color: var(--color-white-cloud);
}

.reasons-section .container {
  padding: 24px;
  padding-bottom: 68px;
}

.reasons-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
}

/* #endregion */

/* #region section 3 */
section.work {
  padding-top: 100px;
  padding-bottom: 116px;
}
.work-title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 73px;
}
.work-articles {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.work-articles-item {
  display: flex;
  align-items: center;
  padding-left: 42px;
  padding-right: 42px;
  gap: 88px;
}
.work-articles-item:last-child {
  margin-bottom: 76px;
}
.work-article {
  padding: 36px 0;
}
.work-article-step {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.work-article-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.work-article-text {
  font-size: 16px;
  line-height: 1.75;
}

.work-button {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-green);
  margin: 0 auto;
  border-radius: 8px;
  padding: 11px 18px;
  border: none;
  transition: background-color 250ms ease-in-out;
}
.work-button:hover,
.work-button:focus {
  background-color: #00b91f;
}
/* #endregion */

/* #region section 4 */
.section {
}

/* #endregion */

/* #region section 5 */
.section {
}

/* #endregion */

/* #region footer */
.footer {
}

/* #endregion */
