/* #region Section 1 Pricing */

.pricing {
  padding: 50px 0 150px 0;
  text-align: center;
}

.pricing-txt {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-dark-blue1);
  margin-bottom: 32px;
  text-transform: uppercase;
}

.pricing-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: var(--color-dark-blue1);
  margin-bottom: 16px;
}

.pricing-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--color-dark-blue1);
  margin-bottom: 49px;
}

.pricing-list {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.pricing-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 322px;
  height: 456px;
  max-width: calc((100% - 2 * 72px) / 3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: box-shadow 500ms ease-in-out, background-color 500ms ease-in-out;
}

.pricing-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: var(--color-dark-blue1);
  margin: 24px 0 8px 0;
}

.pricing-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: var(--color-dark-blue1);
  margin-bottom: 16px;
}

.pricing-list-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: var(--color-dark-blue1);
  margin-bottom: 16px;
}

.pricing-list-payment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
  margin-bottom: 16px;
}

.price {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-green);
  position: relative;
  padding-right: 8px;
}

.dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: var(--color-green);
  position: absolute;
  top: 4px;
  padding-left: 8px;
  transform: translateY(77%);
}

.pricing-button {
  display: block;
  margin-top: 22px;
  padding: 11px 18px 11px 19px;
  border-radius: 8px;
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.pricing-list-item:hover,
.pricing-list-item:focus {
  background-color: var(--color-green);
  color: var(--color-white);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.pricing-list-item:hover .price,
.pricing-list-item:hover .dollar {
  color: var(--color-white);
}

.pricing-list-item:hover .pricing-button,
.pricing-list-item:focus .pricing-button {
  background-color: var(--color-white);
  color: var(--color-green);
}

/* #endregion */

/* #region section 2 great effects */

.enterprise {
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
  padding: 52px 0;
}

.enterprise-container {
  text-align: center;
}

.enterprise-word {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.enterprise-title {
  font-size: 34px;
  margin-bottom: 8px;
}

.enterprise-text {
  font-size: 18px;
  margin-bottom: 32px;
}

.enterprise-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  transition: background-color 250ms ease-in-out;
}

.enterprise-btn:hover,
.enterprise-btn:focus {
  background-color: #00ac98;
}

/* #endregion */

/* #region section-3 great effects */
.effects {
  padding-top: 150px;
  background-color: var(--color-white);
}

.effects-title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 56px;
}

.effects-box {
  display: flex;
  align-items: center;
  gap: 60px;
}

.effects-box-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.effects-box-block {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.effects-box-icon {
  box-sizing: content-box;
  background-color: #f4f5f7;
  padding: 13px;
  border-radius: 100px;
}

.effects-box-title {
  font-weight: 600;
  font-size: 24px;
}

.effects-box-text {
  font-size: 16px;
  line-height: 1.75;
}

/* #endregion */

/* <!-- #region Section 4 - Frequently asked question --> */
.faq-section .container {
  margin-bottom: 150px;
}

.faq-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 8px;
}

.faq-desc {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

.faq-list {
  max-width: 920px;
  /* overflow: hidden; */
}

.faq-item {
  position: relative;
  margin-bottom: 16px;
}

.faq-item::before {
  display: inline-flex;

  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.376 5.376 0 12 0C18.624 0 24 5.376 24 12C24 18.624 18.624 24 12 24C5.376 24 0 18.624 0 12ZM13.2 13.2H18V10.8H13.2V6H10.8V10.8H6V13.2H10.8V18H13.2V13.2Z' fill='%2302897A'/%3E%3C/svg%3E%0A");
  /* background-image: url("../images/icons-copy.svg#icon-plus-circle"); */
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/99/Leo.svg"); */
  background-size: 24px 24px;
  width: 24px;
  height: 24px;

  /* content: url("../images/icons-copy.svg#icon-plus-circle");
  /* width: 24px; */
  /* height: 24px; */

  position: absolute;
}

.faq-item:hover::before {
  /* background-color: aqua; */
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3a/Taurus.svg"); */
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.376 5.376 0 12 0C18.624 0 24 5.376 24 12C24 18.624 18.624 24 12 24C5.376 24 0 18.624 0 12ZM6 13.2H18V10.8H6V13.2Z' fill='%2302897A' /%3E%3C/svg%3E");
}

.faq-item::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
}

.faq-item:last-child::after {
  content: none;
}

.faq-question {
  font-weight: 500;
  font-size: 18px;
  padding-left: 40px;
  padding-bottom: 24px;
}

.faq-answer {
  font-size: 16px;
  display: none;
  transition: display 1250ms ease-in-out;
}

.faq-item:hover {
  padding-bottom: 24px;
}

.faq-item:hover .faq-question {
  display: block;
  padding-bottom: 16px;
}

.faq-item:hover .faq-answer {
  display: block;
}
/* <!-- #endregion --> */
