/* #region header */
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 237px;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  padding: 22px 0;
}

.header-logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: var(--color-dark-blue2);
  text-transform: capitalize;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-menu-link {
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-dark-blue1);
  padding: 26px 0;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
  text-shadow: 0.6px 0px 0px #212121, -0.6px 0px 0px #212121;
}

.header-menu-link:hover,
.header-menu-link:focus {
  text-shadow: 0.6px 0px 0px #212121, -0.6px 0px 0px #212121;
}

.header-reagister {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
}

.header-register-btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 9px 24.65px;
  border-radius: 4px;
}

.header-register-btn.sign-in {
  color: var(--color-dark-blue2);
  border: 1px solid #bcd0e5;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-register-btn.sign-in:hover,
.header-register-btn.sign-in:focus {
  background-color: #bcd0e5;
}

.header-register-btn.sign-up {
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-register-btn.sign-up:hover,
.header-register-btn.sign-up:focus {
  background-color: #01bfaa;
}

.icon-theme-mode {
  stroke: #02897a;
}

/* #endregion */

/* #region Section Res Hero 1 */

.resources {
  padding-top: 76px;
  padding-bottom: 123px;
}

.resources-container {
  display: flex;
}

.res-hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 535px;
}

.res-hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.49;
  letter-spacing: -0.03em;
  color: #22343d;
  width: 380px;
}

.res-hero-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #22343d;
}

.res-form {}

.res-form-label {
  position: relative;
}

.res-form-input {

  width: 469px;
  height: 66px;

  padding: 25px 0px 25px 27px;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #22343d;

  outline: none;

  border: none;
  border: 1px solid #eaeaea;
  border-radius: 100px;

}

.res-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, -25%);
  border: none;
  border-radius: 100px;
  width: 117px;
  height: 50px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 0%;
  color: #fff;

  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.res-form-btn:hover,
.res-form-btn:focus {
  background-color: #01bfaa;
}

.res-person-container {
  display: flex;
  align-items: center;
}

.res-person-list {
  display: flex;
  position: relative;
  width: 121px;
  margin-right: 5px;

}

.person-img-1 {
  height: 48px;
  width: 48px;
  border: 2px solid #fff;
  border-radius: 50%;

}

.person-img-2 {
  position: absolute;
  height: 54px;
  width: 54px;

  z-index: 2;
  transform: translate(-42%, -5%);
  border: 4px solid #fff;
  border-radius: 50%;

}

.person-img-3 {
  position: absolute;
  height: 54px;
  width: 54px;

  z-index: 3;

  transform: translate(28%, -5%);
  border: 4px solid #f4f9fa;
  border-radius: 50%;
}

.res-join-text {
  font-weight: 400;
  font-size: 14px;
  color: #22343d;
}

.join-text-nbr {
  font-weight: 500;
  color: #02897a;
}

.res-hero-img-container {
  position: relative;
}

.hero-img-one {
  border-radius: 32px;
  width: 435px;
  height: 426px;
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.25);
}

.hero-img-two {
  position: absolute;

  top: 0;
  left: 0;
  transform: translate(182px, 219px);

  border-radius: 16px;
  width: 359px;
  height: 263px;
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.25);
}



/* #endregion */

/* #region Section Res Story 2 */

.stories {
  padding-bottom: 100px;
}

.container {}

.stories-container {}


.stories-title {
  text-align: center;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}

.stories-desc {
  text-align: center;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}

.story-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.story-item {
  border-radius: 8px;
  border: 1px solid #dedede;
  overflow: hidden;
  flex-basis: calc((100% - 2 * 32px)/3);
  margin-bottom: 32px;
}

.story-item-block {
  padding: 22px 30px 40px 24px;

}

.story-img {}

.story-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-bottom: 12px;
}

.story-desc-name {
  font-weight: 700;
}

.story-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
}



.story-btn {
  /* position: relative; */
  display: block;
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: #22343d;
  border: none;
  outline: none;
  background: transparent;

  margin: 0 auto;
}

.story-btn-icon {
  fill: #2e3a59;
}




/* #endregion */

/* #region Section 3 */
.contacts {}

.contact-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {}

.contact-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.67647;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  margin-bottom: 17px;

}

.contact-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
  width: 332px;
  padding: 10px;
  margin: 0 auto 55px auto;
}

.contact-social-cont {
  margin: 0 auto;
}

.contact-social-list {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.contact-social-item {
  width: 50px;
  height: 50px;
  background-color: #edfffc;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-social-item:hover,
.contact-social-item:focus {
  background-color: var(--color-green);
}

.contact-social-item:hover .contacts-icon {
  stroke: #edfffc;
}

.contacts-icon {}

.contact-map-container {
  width: 870px;
  margin: 55px auto 50px auto;
  padding: 10px 0;
}

.contact-active {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 52px 50px;
  width: 868px;
  height: 670px;
  background-color: var(--color-white);
  margin: 0 auto;

}

.contact-form>:not(:last-child) {
  margin-bottom: 45px;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0em;
  color: #252b42;
  text-align: center;
  margin-bottom: 45px;
}

.form-label {
  display: block;
}

.form-input {
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  width: 100%;
  height: 54px;
  background: #f5f5f5;
}

.form-input-ta {
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 768px;
  height: 193px;
  resize: none;
  background: #f5f5f5;
}

.contact-active-btn {
  display: block;
  border-radius: 35px;
  padding: 18px 38px;
  min-width: 145px;
  height: 52px;
  background: #02897a;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-active-btn:hover,
.contact-active-btn:focus,
.contact-active-btn:active {
  background-color: var(--color-white);
  color: var(--color-green);
  border: 1px solid var(--color-green);
}

.contacts-icon {
  stroke: var(--color-green);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* #endregion */

/* #region Section 4 */

/* #endregion */

/* #region FOOTER */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  margin-top: 100px;
}

.footer-logo {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-item {}

.footer-resource-list {}

.footer-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  max-width: 295px;
  margin-bottom: 22px;
}

.footer-resource-list-item {
  line-height: 2.19;
}

.footer-legal-list {}

.footer-legal-list-item {
  line-height: 2.19;
}

.footer-input-box {
  align-items: center;
  display: flex;
}

.footer-input-box img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.footer-input {
  display: block;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  margin-bottom: 25px;
}

.footer-input::placeholder {
  color: #02897a;
}

.footer-input-btn {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  max-width: 100%;
  background-color: #02897a;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
}

.footer-copyright {
  font-size: 16px;
  line-height: 1.86;
  max-width: 100%;
  margin: 0 auto;
}

/* #endregion */