/*global styles*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*global color styles*/
:root {
  /*bgm and accent color styles*/
  --color-green: #02897a;
  --color-blue: #4d8dff;
  --color-purple: #740a76;
  --color-red: #f03e3d;
  --color-white-cloud: #f5f5f5;
  --color-white: #fff;

  /*text color styles*/
  --color-black: #000;
  --color-dark-blue1: #22343d;
  --color-dark-blue2: #173a56;
  --color-dark-brown: #2f281e;
  --color-dark-purple: #252b42;
  --color-dark-primary: #1f2e35;
  --color-dark-secondary: #30444e;
  --color-secondary-gray: #737373;
  --color-gray: #475e69;
  --color-white: #e4e9f3;
}

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/*header*/

/* container main size  */
.container {
  padding: 0 145px;
}

/*section 1*/
/*section 2*/
.features-section .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-dark-blue1);
}

.features-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--color-dark-blue1);

  margin-bottom: 50px;
  max-width: 539px;
}

.features-list {
  width: 1110px;
  display: flex;
  gap: 30px;
}

.feature-item {
  width: calc((100% - 3 * 30px) / 4);

  display: flex;
  flex-direction: column;
}

.feature-img-container {
  display: flex;
  width: 54px;
  height: 54px;
  border-radius: 19px;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.bg-green {
  background-color: var(--color-green);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-red {
  background-color: var(--color-red);
}

.feature-item-img {
  height: 18px;
}

.feature-item-title {
  font-weight: 600;
  font-size: 22px;

  margin-bottom: 13px;
}

.feature-item-desc {
  font-size: 16px;
  line-height: 1.62;
}

.feature-btn {
  background-color: var(--color-green);
  border: none;
  border-radius: 4px;
  padding: 16px 42px;

  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
}

/*section 3*/
/*section 4*/
/*section 5*/
/*section 6*/
/*section 7*/
/*section 8*/
/*section 9*/
/* Стилі для секції 9 - блок фідбек клієнтів */

.testimonial-section {
}

.testimonial-title {
}

.testimonial-desc {
}

.testimonial-list {
}

.testimonal-list-item {
  width: 327px;
  height: 240px;
}

.testimonial-item-star {
  display: flex;
}

.testimonial-item-desc {
  color: var(--color-dark-purple);
}

.testimonial-item-client-name {
  color: var(--color-green);
}

.testimonial-item-client-role {
  color: var(--c);
}

/*section 10*/
.promo-section {
  height: 345px;
  width: 968px;
  background-color: var(--color-green);
}

.promo-btn {
  width: 150px;
  height: 50px;
}
